<div class="wrapper">
  <div class="container">
    <header>
      <div class="header-1">
        <h1 routerLink="../home"
          style="
            color: #006e00;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
              sans-serif; cursor: pointer; ">
          Home
        </h1>
      </div>
      <div class="header-2">
        <button routerLink="../recipe" class="btn-btn">Add Recipe</button>
      </div>
    </header>
  </div>

  <router-outlet></router-outlet>
</div>
